nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#4a148c;
    color:white;
    padding:18px 50px;
}

nav h2{
    font-size:28px;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.menu a:hover{
    color:#ffd54f;
}